  
  .image-container {
    width: 100%;
  }
  
  .full-width-image {
    width: 100%;
    display: block;
  }
  
.body {
    background-color: #ddabcf;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensures the background color covers the full height of the viewport */
    box-sizing: border-box;
  }
.body p{
    align-items: center;
    display: flex;
    font-weight: 200px;
    font-size: medium;
}
.input-container{
    align-items: center;
    transition: 0.3s;

}